astroid @ file:///croot/astroid_1676904296642/work
astropy @ file:///opt/conda/conda-bld/astropy_1650891077797/work
autopep8==2.0.0
certifi @ file:///croot/certifi_1671487769961/work/certifi
flit_core @ file:///opt/conda/conda-bld/flit-core_1644941570762/work/source/flit_core
lazy-object-proxy @ file:///home/builder/ci_310/lazy-object-proxy_1640791307593/work
numpy @ file:///opt/conda/conda-bld/numpy_and_numpy_base_1652801679809/work
packaging @ file:///croot/packaging_1671697413597/work
pycodestyle==2.9.1
pyerfa @ file:///home/builder/ci_310/pyerfa_1640793199719/work
PyYAML==6.0
tomli==2.0.1
typing_extensions @ file:///croot/typing_extensions_1669924550328/work
wrapt @ file:///home/builder/ci_310/wrapt_1640795983382/work
